## Split

In [2]:
str = "My Name is divesh"
li = str.split()
print(li)
str1 = "My,Name,is,Divesh"
li2 = str1.split(',')
print(li2)

['My', 'Name', 'is', 'divesh']
['My', 'Name', 'is', 'Divesh']

In [5]:
li3 = str.split(' ',2)
print(li3)

['My', 'Name', 'is divesh']

In [7]:
li4 = str1.split(',',1)
print(li4)

['My', 'Name,is,Divesh']

## Replace

In [8]:
str = "My name is Divesh"
str = str.replace("Divesh","Chintu")
print(str)
str = "My name is Divesh Divesh Divesh"
str = str.replace("Divesh","Chintu")
print(str)
str = "My name is Divesh Divesh Divesh"
str = str.replace("Divesh","Chintu",2)
print(str)

My name is Chintu
My name is Chintu Chintu Chintu
My name is Chintu Chintu Divesh

### Find

In [9]:
str = "My Name is DIvesh"
index = str.find("Na")
print(index)
str = "My Name is Divesh Divesh Divesh"
index = str.find("Divesh")
print(index)
str = "My Name is Divesh Divesh Divesh"
index = str.find("Divesh",12,25)
print(index)

3
11
18

### lower and upper

In [10]:
str = "My Name is Divesh"
str = str.lower()
print(str)
str = str.upper()
print(str)

my name is divesh
MY NAME IS DIVESH

### startsWith

In [16]:
str = "My Name is Divesh"
ans = str.startswith("My Na")
print(ans)
ans = str.startswith("Div",11,24)
print(ans)

True
True