### Syntax - [Ouput for el in li]

In [1]:
li = [1,2,3,4]

In [3]:
li_new = [el**2 for el in li]

In [4]:
li_new

[1, 4, 9, 16]

In [5]:
li_even_square = [el**2 for el in li if el%2==0]

In [6]:
li_even_square

[4, 16]

### Multiple of 2 and 3

In [7]:
li = [1,2,3,4,5,6,7,8,9]
li_new = [el for el in li if el%2==0 if el%3==0]

In [8]:
li_new

[6]

### INtersection of two list

In [10]:
li1=[1,2,3,4,5,6]
li2=[2,4,6,8]
li_inter = [el1 for el1 in li1 for el2 in li2 if el1==el2]

In [11]:
li_inter

[2, 4, 6]

In [12]:
li = [1,2,3,4,5,6]
li_new = [el**2 if el%2==0 else el for el in li]

In [13]:
li_new

[1, 4, 3, 16, 5, 36]

### On String

In [14]:
s = "Divesh"
li = [el for el in s]

In [15]:
li

['D', 'i', 'v', 'e', 's', 'h']

### 2d list generation

In [16]:
li = ['Divesh','Sharma','Chintu']
li_2d = [[e1 for e1 in el] for el in li]

In [17]:
li_2d

[['D', 'i', 'v', 'e', 's', 'h'],
 ['S', 'h', 'a', 'r', 'm', 'a'],
 ['C', 'h', 'i', 'n', 't', 'u']]

In [18]:
li = [ele**2 for ele in range(5)]
print(li)

[0, 1, 4, 9, 16]

In [19]:
li = [ele**2 for ele in range(10) if ele%3 ==0]
print(li)

[0, 9, 36, 81]